* {
  margin: 0;
  padding: 0;
}

body {
  font-family: JetBrains Mono;
  background: #2b2d42;
}
.control {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.wrapper {
  border: 2px solid white;
  width: 40vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border-radius: 2rem;
}
.wrapper input {
  background: none;
  height: 20vh;
  width: 80%;
  border-radius: 2rem;
  border: none;
  font-size: 50px;
  color: white;
}
.nums {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 100%;
  background: #000022;
  border-radius: 2rem;
}
.nums button {
  padding: 1rem;
  width: 80px;
  font-family: JetBrains Mono;
  height: 70px;
  border-radius: 20px;
  border: none;
  font-weight: bold;
  background: #342e37;
  color: white;
  border: 1px solid white;
  font-size: 20px;
}
.numbers {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.numsSection {
  display: flex;
  gap: 2rem;
}
.numsSection button {
  background-color: tomato;
}
.numsSection #clear,
.numsSection #evaluate {
  background-color: orange;
}
